body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3em;
    background-image: url("images/background.png"); 
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

.container {
	max-width: 500px;
	margin: auto;
    padding: 50px;
    border: 4px dotted #9f9fce;
    border-radius: 10px;
    background-color: white;
}

h3{
    font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label, input, button {
	cursor: pointer;
}

label {
	display: block;
}

input[type=checkbox] {
	width: 20px;
	height: 16px;
}

button {
	font-size: 100%;
	padding: 8px;
	box-shadow: none;
	background: none;
	border: 1px solid;
    
    
}

#note {
	font-size: 1.25em;
}

.hide {
	display: none;
}
